<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <title>{% block title %}Attila Nagy{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/attilanagy.css">
  </head>
  <body class="h-100">
    <div class="h-100 container-fluid">
      <div class="h-100 row align-items-center justify-content-center">{% block content %}
      {% endblock %}</div> <!-- /Row -->
    </div> <!-- /Container -->
  </body>
</html>
